<!doctype html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta
        content="width=device-width, initial-scale=1.0" name="viewport">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
                   sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record.title is defined %}
                {{ record.title|striptags }}
                |
            {% endif -%}
            {{ config.get('general/sitename') -}}
            {% if record.title is not defined and config.get('general/payoff') %}
                |
                {{ config.get('general/payoff') }}
            {% endif -%}
        </title>
        <link href="https://fonts.googleapis.com/css?family=Bitter|Roboto:400,400i,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/bulma.css', 'theme') }}">
        <link rel="stylesheet" href="{{ asset('css/theme.css', 'theme') }}">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/apple-icon-57x57.png', 'theme') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/apple-icon-60x60.png', 'theme') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/apple-icon-72x72.png', 'theme') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/apple-icon-76x76.png', 'theme') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/apple-icon-114x114.png', 'theme') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/apple-icon-120x120.png', 'theme') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/apple-icon-144x144.png', 'theme') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/apple-icon-152x152.png', 'theme') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/apple-icon-180x180.png', 'theme') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('img/android-icon-192x192.png', 'theme') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon-32x32.png', 'theme') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon-96x96.png', 'theme') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon-16x16.png', 'theme') }}">
        <link rel="manifest" href="{{ asset('img/manifest.json', 'theme') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('img//ms-icon-144x144.png', 'theme') }}">
        <meta name="theme-color" content="#ffffff">

    </head>
    <body>
        <a class="visually-hidden focusable skip-link" href="#main-content">Skip to main content</a>
        {% block body %}

        <header class="header" role="banner">
            {{ include('partials/_navbar.twig') }}
            {# {{ include('partials/_header.twig') }} #}
        </header>

        {{ widgets('main_top') }}

        <a id="main-content"></a>
        {% block main %}
    {% endblock main %}

    {{ widgets('main_bottom') }}

{% endblock body %}

{{ include('partials/_footer.twig') }}

<div id="contact-modal" class="modal">
<div class="modal-background"></div>
<div class="modal-content">
    <div class="background-light padding-30">
        <h2 class="is-size-4 margin-bottom-5">Send Us a Message</h2>
        <h4 class="is-size-7 margin-bottom-15">We would love to hear from you</h4>
        <form id="contact-form" method="post" accept-charset="UTF-8" action="{{ asset('contact.php', 'theme') }}">
            {# {{ csrfInput() }} #}
            {# <input type="hidden" name="action" value="contact.php"> #}
            {# {{ redirectInput("") }} #}

                <section class=""> <div
                    class="field">
                    {# <label class="label">Name</label> #}
                    <div class="control has-icons-right">
                        <input
                        class="input" id="nameInput" placeholder="First &amp; Last Name" type="text">
                    {# <span class="icon is-small is-left">
                                                            <i class="fas fa-user"></i>
                                                        </span> #}
                    </div>
                </div>

                <div
                    class="field">
                    {# <label class="label">Email</label> #}
                    <div class="control has-icons-right">
                        <input
                        class="input" id="emailInput" placeholder="myself@me.com" type="email" value="">

                    {# <span class="icon is-small is-left">
                                                            <i class="fas fa-envelope"></i>
                                                        </span> #}
                    </div>
                </div>

                <div
                    class="field">
                    {# <label class="label">Message</label> #}
                    <div class="control">
                        <textarea class="textarea" id="messageField" placeholder="Your message here!"></textarea>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Submit</button>
                    </div>
                </div>
            </section>
        </form>
        <div class="form-message margin-top-20"></div>
    </div>
</div>
<button aria-label="close" class="modal-close is-large"></button></div>


</body></html>
