{% setcontent social = 'blocks/social-footer' %}

{# Footer #}
<footer role="contentinfo" class="footer background-light margin-top-60">
    <div class="container">
    <div class="corner-number">00.</div>
        <div class="columns">
            <div class="column is-one-fith">
                <p class="margin-bottom-20">1411 S Arthur Ave, <br>Louisville, CO 80027</p>
                <p><a class="contact-btn button" href="#">Stay In Touch</a></p>
                {# {{ menu(
                    identifier = 'main',
                    template = 'partials/_sub_menu_footer.twig',
                    params = {'withsubmenus': false}
                ) }}  #}
            </div>
            <div class="column is-half has-text-centered is-hidden-mobile">
                <span class="quote">"Make it simple,<br>but make it significant."</span>
                <span class="author">Don Draper</span>
            </div>
            <div class="column">
                <p class="is-vertical-bottom">&copy; {{ "now"|date("Y") }} Cantilevers,<br> All rights reserved</p>
                {% if social %}
                    <ul class="menu-social">
                    {% for link in social.links %}
                        <li class="sn-icons">
                            <a target="_blank" href="{{ link.link_url }}">
                                {% if link.social_network == 1 %}
                                    <i class="fab fa-twitter"></i> 
                                {% elseif link.social_network ==  2 %}
                                    <i class="fab fa-facebook-f"></i> 
                                {% elseif link.social_network ==  3 %}
                                    <i class="fab fa-instagram"></i> 
                                {% elseif link.social_network ==  4 %}
                                    <i class="fab fa-pinterest"></i> 
                                {% endif %} {{ link.link_text }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                {% endif %}
            </div>
        </div>
        {{ widgets('footer') }}
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="{{ asset('js/normalizeBrightness.js', 'theme') }}"></script>
<script src="{{ asset('js/app.js', 'theme') }}"></script>
{# Doc ready for single page scrolling #}
<script>
    $(document).ready(function () {
        var navLinks = $('.navbar-item');
        $.each(navLinks, function(e) {
            var pageLink = $(this).attr('href');
            $(this).on('click', function(e) {
                e.preventDefault();
                //removeActiveClass();
                //$(this).addClass('is-active');
                $('html, body').animate({
                    scrollTop: $(pageLink).offset().top - 64
                }, 200);
            });
        });

        /*
        function removeActiveClass(e){
            $.each(navLinks, function(e) {
                $(this).removeClass('is-active');
            });
        }
        */
    });
</script>
