{% setcontent social = 'blocks/social-footer' %}

{# Footer #}
<footer role="contentinfo" class="footer background-light margin-top-60">
    <div class="container">
    <div class="corner-number">00.</div>
        <div class="columns">
            <div class="column is-one-fith">
                <p class="margin-bottom-20">1411 S Arthur Ave, <br>Louisville, CO 80027</p>
                <p><a class="contact-btn button" href="#">Stay In Touch</a></p>
                {# {{ menu(
                    identifier = 'main',
                    template = 'partials/_sub_menu_footer.twig',
                    params = {'withsubmenus': false}
                ) }}  #}
            </div>
            <div class="column is-half has-text-centered is-hidden-mobile">
                <span class="quote">"Make it simple,<br>but make it significant."</span>
                <span class="author">Don Draper</span>
            </div>
            <div class="column">
                <p class="is-vertical-bottom">&copy; {{ "now"|date("Y") }} Cantilevers,<br> All rights reserved</p>
            </div>
        </div>
        {{ widgets('footer') }}
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="{{ asset('js/normalizeBrightness.js', 'theme') }}"></script>
<script src="{{ asset('js/app.js', 'theme') }}"></script>

<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) 
            return;
        
        n = f.fbq = function () {
            n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (! f._fbq) 
            f._fbq = n;
        
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '453667988577334');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=453667988577334&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

{# Doc ready for single page scrolling #}
<script>
    $(document).ready(function () {
        /*
        var navLinks = $('.navbar-item');
        $.each(navLinks, function(e) {
            var pageLink = $(this).attr('href');
            $(this).on('click', function(e) {
                e.preventDefault();
                //removeActiveClass();
                //$(this).addClass('is-active');
                $('html, body').animate({
                    scrollTop: $(pageLink).offset().top - 64
                }, 200);
            });
        });
        */

        /*
        function removeActiveClass(e){
            $.each(navLinks, function(e) {
                $(this).removeClass('is-active');
            });
        }
        */
    });
</script>
