{# Footer #}
<footer role="contentinfo" class="footer background-light">
    <div class="container">
    <div class="corner-number">00.</div>
        <div class="columns">
            <div class="column is-one-fifth">
                <ul class="menu-social">
                    <li class="sn-icons">
                        <a target="_blank" href="#">
                            <i class="fab fa-facebook-f"></i> FACEBOOK
                        </a>
                    </li>
                    <li class="sn-icons">
                        <a target="_blank" href="#">
                            <i class="fab fa-twitter" aria-hidden="true"></i> TWITTER
                        </a>
                    </li>
                    <li class="sn-icons">
                        <a target="_blank" href="#">
                            <i class="fab fa-instagram" aria-hidden="true"></i> INSTGRAM
                        </a>
                    </li>
                    <li class="sn-icons">
                        <a target="_blank" href="#">
                            <i class="fab fa-pinterest" aria-hidden="true"></i> PINEREST
                        </a>
                    </li>
                    {# <a href="">Privacy</a><br>
                    <a href="">Legal</a><br>
                    Design: <a href="">HDSF</a> #}
                </ul>  
                {# {{ menu(
                    identifier = 'main',
                    template = 'partials/_sub_menu_footer.twig',
                    params = {'withsubmenus': false}
                ) }}  #}
            </div>
            <div class="column is-half has-text-centered">
                <span class="quote">"Make it simple,<br>but make it significant."</span>
                <span class="author">Don Draper</span>
            </div>
            <div class="column is-vertical-center"> 
                <p class="is-vertical-bottom">&copy; {{ "now"|date("Y") }} Cantilevers,<br> All rights reserved</p>
            </div>
        </div>
        {{ widgets('footer') }}
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="{{ asset('js/normalizeBrightness.js', 'theme') }}"></script>
<script src="{{ asset('js/app.js', 'theme') }}"></script>
{# Doc ready for single page scrolling #}
<script>
    $(document).ready(function () {
        var navLinks = $('.navbar-item');
        $.each(navLinks, function(e) {
            var pageLink = $(this).attr('href');
            $(this).on('click', function(e) {
                e.preventDefault();
                //removeActiveClass();
                //$(this).addClass('is-active');
                $('html, body').animate({
                    scrollTop: $(pageLink).offset().top - 64
                }, 200);
            });
        });

        /*
        function removeActiveClass(e){
            $.each(navLinks, function(e) {
                $(this).removeClass('is-active');
            });
        }
        */
    });
</script>
