{# Navbar #}
{# {{ dump(path('search')) }} #}
{% setcontent social = 'blocks/social-footer' %}

<nav aria-label="main navigation" class="navbar is-fixed-top is-white" role="navigation">

    <div class="container">
        <div class="navbar-brand">
            <span>
                {# {{ config.get('general/sitename') }} #}
                <a class="navbar-item" href="#home-hero" title="Cantilevers at CTC"><img id="nav-logo" src="{{ asset('img/logo.svg', 'theme') }}"  /></a>
            </span>
            <span class="navbar-burger" data-target="navbar-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div class="navbar-menu" id="navbar-toggle">
            <div class="navbar-start">
                <a href="/designs" title="" class="navbar-item  first">Designs</a>
                <a href="/amenities" title="" class="navbar-item  ">Amenities</a>
                <a href="http://www.cantilevers.com/contact" title="" class="navbar-item is-active last">Connect</a>
                {# {{ menu(template = 'partials/_sub_menu.twig') }} #}
                {# Single page scroll navigation #}
                {# <a class="navbar-item nav-hover scroll-spy first" href="#our-mission" title="Our Mission">Our Mission</a>
                <a class="navbar-item nav-hover scroll-spy" href="#our-team" title="Our Team">Our Team</a>
                <a class="navbar-item nav-hover scroll-spy" href="#gallery" title="Gallery">Gallery</a> #}
            </div>
            <div class="navbar-end">
                <div class="columns">
                    <div class="column is-vertical-center">
                        <ul class="is-mobile level level-right">
                            <li>
                                {# <a class="margin-right-20" href="tel:7205490331">(720) 549-0331</a> #}
                                <a class="contact-btn button" href="#">
                                    Contact Our Team
                                </a>
                            </li>
                            {# <li>
                                <a href="">test@thetestemail.com</a>
                            </li> #}
                        </ul>
                    </div>
                    {% if social %}
                        <div class="column">
                                <ul class="menu-social">
                                {% for link in social.links %}
                                    <li class="sn-icons is-inline is-size-4">
                                        <a target="_blank" href="{{ link.link_url }}">
                                            {% if link.social_network == 1 %}
                                                <i class="fab fa-twitter"></i> 
                                            {% elseif link.social_network ==  2 %}
                                                <i class="fab fa-facebook-f"></i> 
                                            {% elseif link.social_network ==  3 %}
                                                <i class="fab fa-instagram"></i> 
                                            {% elseif link.social_network ==  4 %}
                                                <i class="fab fa-pinterest"></i> 
                                            {% elseif link.social_network ==  5 %}
                                                <i class="fab fa-youtube"></i>
                                            {% endif %} 
                                            {# {{ link.link_text }} #}
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
