{% extends 'partials/_content.twig' %}

{% block main %}
{% set amenitity = amenities[1].values  %}

<section class="hero hero-image is-black is-bold is-large" {%- if amenitity.image|default %} {% set filename = amenitity.image.file|default(amenitity.image) %} data-background-image="{{ asset(filename, 'files') }}" style="background-image: url({{ asset(filename, 'files') }})" {% endif -%}>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ amenitity.title }}</h1>
            {% if amenitity.tagline  %}
                <h2 class="subtitle">{{ amenitity.tagline }}</h2>
            {% endif %}
        </div>
    </div>
</section>

<section class="section margin-top-70">
    <h2 class="title has-text-centered">Floorplans</h2>
    <div class="container">
        <div class="columns is-vertical-center is-gapless">
            <div class="column">
                <div id="floorMap">
                    <a class="pins" id="pin-1" data-target="plan-1" href="#"></a>
                    <a class="pins" id="pin-2" data-target="plan-2" href="#"></a>
                    <a class="pins" id="pin-3" data-target="plan-3" href="#"></a>
                    <a class="pins" id="pin-4" data-target="plan-4" href="#"></a>
                    <a class="pins" id="pin-5" data-target="plan-5" href="#"></a>
                    <a class="pins" id="pin-6" data-target="plan-6" href="#"></a>
                    <a class="pins" id="pin-7" data-target="plan-7" href="#"></a>
                    <a class="pins" id="pin-8" data-target="plan-8" href="#"></a>
                    <a class="pins" id="pin-9" data-target="plan-9" href="#"></a>
                    <a class="pins" id="pin-10" data-target="plan-10" href="#"></a>
                    <a class="pins" id="pin-11" data-target="plan-11" href="#"></a>
                    <a class="pins" id="pin-12" data-target="plan-12" href="#"></a>
                    <a class="pins" id="pin-13" data-target="plan-13" href="#"></a>
                    {# <a class="pins" id="pin-14" data-target="plan-14" href="#"></a> #}

                    <img src="/thumbs/1000x1000r/site-img/main-level.png" class="image"/>
                </div>
                
                {# <map id="floorPlanMap" name="Map">
                    <area class="1" data-target="plan-1" coords="238,385,278,415,299,387,255,358,241,385" href="#" shape="poly">
                    <area class="2" data-target="plan-2" coords="208,429,231,395,272,423,252,454,207,429,237,385" href="#" shape="poly">
                    <area class="3" data-target="plan-3" coords="169,401,193,366,222,386,198,422,169,401" href="#" shape="poly">
                    <area class="4" data-target="plan-4" coords="131,375,156,340,183,361,158,397" href="#" shape="poly">
                    <area class="5" data-target="plan-5" coords="148,333,120,371,55,325,59,318,32,297,49,271" href="#" shape="poly">
                    <area class="6" data-target="plan-6" coords="56,252,133,310,154,282,71,231" href="#" shape="poly">
                    <area class="7" data-target="plan-7" coords="72,209,143,260,163,235,97,185" href="#" shape="poly">
                    <area class="8" data-target="plan-8" coords="112,182,130,155,172,184,151,215" href="#" shape="poly">
                    <area class="9" data-target="plan-9" coords="93,139,92,75,190,77,190,122,178,162" href="#" shape="poly">
                    <area class="10" data-target="plan-10" coords="238,133,274,119,274,63,189,62,189,122" href="#" shape="poly">
                    <area class="11" data-target="plan-11" coords="282,71,319,71,317,161,283,162" href="#" shape="poly">
                    <area class="12" data-target="plan-12" coords="329,70,364,70,363,161,328,161" href="#" shape="poly">
                    <area class="13" data-target="plan-13" coords="374,71,409,70,408,161,374,161" href="#" shape="poly">
                    <area class="14" data-target="plan-14" coords="426,66,471,64,472,150,426,151" href="#" shape="poly">
                </map>
                <img src="/thumbs/1000x1000r/site-img/main-floor.png" usemap="#Map" width="512px"/> #}
            </div>
            <div class="column is-relative">
            <img src="/thumbs/1000x1000r/site-img/upper-floor.png" id="defaultPlan" width="512px"/>
            {% for i in 1..14 %}
                <div id="plan-{{ i }}" class="unit-plans">
                    <div class="columns is-vertical-center is-variable is-0">
                        <div class="column is-two-thirds">
                            <figure class="image">
                                <img src="/thumbs/1000x1000r/site-img/office-01.jpg">
                            </figure>
                        </div>
                        <div class="column">
                            <h2 class="is-large margin-bottom-20 is-size-3">Office {{ i }}</h2>
                            <ul class="margin-bottom-40">
                                <li>Floor Area - Approx. 1,142sf</li>
                                <li>Patio Area - Approx. 1,142sf</li>
                                <li>1 Restroom</li>
                                <li>1 Server Storage</li>
                            </ul>
                            <a class="button" href="#">View Grouping Options</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>



{% endblock main %}
