{% extends 'partials/_content.twig' %}

{% block main %}
{% set amenitity = amenities[1].values  %}

<section class="hero hero-image is-black is-bold is-large" {%- if amenitity.image|default %} {% set filename = amenitity.image.file|default(amenitity.image) %} data-background-image="{{ asset(filename, 'files') }}" style="background-image: url({{ asset(filename, 'files') }})" {% endif -%}>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ amenitity.title }}</h1>
            {% if amenitity.tagline  %}
                <h2 class="subtitle">{{ amenitity.tagline }}</h2>
            {% endif %}
        </div>
    </div>
</section>

{# Content #}
{% if amenitity.content %}
    <section class="section section-record content">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    {{ amenitity.content|raw }}
                </div>
            </div>
        </div>
    </section>
{% endif %}


{# Callout #}
{% if amenitity.callouts %}
    <section class="section slide-in margin-botton-50" id="our-team">
        <div>
            {# Callout Repeating fields #}
            <h2 class="title has-text-centered margin-top-50">{{amenitity.callout_title}}</h2>
            <h4 class="has-text-centered margin-bottom-50">{{amenitity.callout_subtitle}}</h4>

            {% for key,callout in amenitity.callouts %}
                {%- if loop.index is even %}
                <div class="container margin-bottom-50">
                <div class="corner-number">{# <i class="fas fa-adjust"> #} 0.{{ key }}</i></div>
                    <div class="columns bg-pattern">
                        <div class="column">
                            {%- if callout.repeatimage|default %}
                                {% set calloutphoto = callout.repeatimage.file|default(callout.repeatimage) %}
                                <figure class="image">
                                    <img src="{{ asset(calloutphoto, 'files') }}" />
                                </figure>
                            {% endif %}
                        </div>
                        <div class="column is-vertical-center">
                            <div class="content">
                                {%- if callout.repeattitle %}
                                    <h2 class="is-size-4 is-size-4-mobile">{{ callout.repeattitle }}</h2>
                                {% endif %}
                                {%- if callout.repeatcontent %}
                                    <p>{{ callout.repeatcontent|raw }}</p>
                                {% endif %}
                                {%- if callout.repeatlinks %}
                                    <p><a href="{{callout.repeatlinks}}" class="button margin-top-10">Learn More</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                {% else %}
                    <div class="container margin-bottom-50">
                    <div class="corner-number">{# <i class="fas fa-adjust"> #} 0.{{ key }}</i></div>
                        <div class="columns">
                            <div class="column is-pulled-left is-vertical-center">
                                <div class="content">
                                    {%- if callout.repeattitle %}
                                        <h2 class="is-size-4 is-size-4-mobile">{{ callout.repeattitle }}</h2>
                                    {% endif %}
                                    {%- if callout.repeatcontent %}
                                        {{ callout.repeatcontent|raw }}
                                    {% endif %}
                                    {%- if callout.repeatlinks %}
                                        <p><a href="{{callout.repeatlinks}}" class="button margin-top-10">Learn More</a></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="column">
                                {%- if callout.repeatimage|default %}
                                    {% set calloutphoto = callout.repeatimage.file|default(callout.repeatimage) %}
                                    <figure class="image">
                                        <img src="{{ asset(calloutphoto, 'files') }}" />
                                    </figure>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endif %}



{% endblock main %}
