{% extends 'partials/_master.twig' %}

{% block main %}
{# {{ dump(homepage) }} #}

{# Teaser #}
{% set teaserphoto = homepage.teaser_photo.file|default(homepage.teaser_photo) %}
<section class="section">
    <div class="container">
        <div class="teaser"  style="background-image:url({{ asset(teaserphoto, 'files') }})">&nbsp;</div>
        <div class="teaser-body background-light has-text-centered">
            <h2 class="title">{{homepage.title}}</h2>
            <h4 class="margin-bottom-20">{{homepage.subtitle}}</h4>
            <p>{{homepage.teaser}}</p>
        </div>
    </div>
</section>


<section class="section slide-in">
{# Callout Repeating fields #}
{% for key,callout in homepage.callouts %}
    {%- if loop.index is even %}
    <div class="container margin-bottom-30">
       <div class="corner-number">{# <i class="fas fa-adjust"> #} 0.{{ key }}</i></div>
        <div class="columns background-light">
            <div class="column">
                {%- if callout.repeatimage|default %}
                    {% set calloutphoto = callout.repeatimage.file|default(callout.repeatimage) %}
                    <figure class="image">
                        <img src="{{ asset(calloutphoto, 'files') }}" />
                    </figure>
                {% endif %}
            </div>
            <div class="column is-vertical-center">
                <div class="content">
                    {%- if callout.repeattitle %}
                        <h2 class="is-size-4 is-size-3-mobile">{{ callout.repeattitle }}</h2>
                    {% endif %}
                    {%- if callout.repeatcontent %}
                        {{ callout.repeatcontent }}
                    {% endif %}
                    {%- if callout.repeatlinks %}
                        <p><a href="{{callout.repeatlinks}}" class="button">Explore The Vision</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    {% else %}
        <div class="container margin-bottom-30">
        <div class="corner-number">{# <i class="fas fa-adjust"> #} 0.{{ key }}</i></div>
            <div class="columns">
                <div class="column is-vertical-center">
                    <div class="content">
                        {%- if callout.repeattitle %}
                            <h2 class="is-size-4 is-size-3-mobile">{{ callout.repeattitle }}</h2>
                        {% endif %}
                        {%- if callout.repeatcontent %}
                            {{ callout.repeatcontent }}
                        {% endif %}
                        {%- if callout.repeatlinks %}
                            <p><a href="{{callout.repeatlinks}}" class="button">Explore The Vision</a></p>
                        {% endif %}
                    </div>
                </div>
                <div class="column">
                    {%- if callout.repeatimage|default %}
                        {% set calloutphoto = callout.repeatimage.file|default(callout.repeatimage) %}
                        <figure class="image">
                            <img src="{{ asset(calloutphoto, 'files') }}" />
                        </figure>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container"><p>&nbsp;<p/><p>&nbsp;<p/></div>
{% endfor %}
</section>


{# Units section #}
{% setcontent units = 'units/latest/3' %}
{%- if units %}

<section class="section section-units hero is-success is-bold">

    <div class="container slide-in">
        <h2 class="title">Cantilevers Units</h2>
        <div class="columns slide-in">
            
            {% for unit in units %}
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                {{ popup(unit.values.image, 480, 320) }}
                            </figure>
                        </div>
                        <div class="card-content content">
                            <h3><a href="{{ unit.link() }}">{{ unit.title }}</a></h3>
                            <p>{{ unit.excerpt }}</p>
                            <a class="button" href="{{ unit.link() }}">
                                {{ __('general.phrase.read-more') }}
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="column">
                    <p>{{ __("general.phrase.no-content-found") }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{# Latest entries #}
{% setcontent entries = 'entries/latest/3' %}
{%- if entries %}
<section class="section section-latest-entries">

    <div class="container ">
        {# <h2 class="title">Latest News</h2> #}
        {% for entry in entries %}
            <article role="article" class="media columns slide-in">
                <div class="media-content column is-7">
                    <div class="content">
                        <h3><a href="{{ entry.link }}">{{ entry.title }}</a></h3>
                        {{ entry.teaser }}

                        {% include 'partials/_record_meta.twig' with {'extended': true, 'record': entry} %}
                    </div>
                </div>
                <div class="media-right column">
                    <figure class="image">
                        {{ popup(entry.values.image, 480, 320) }}
                    </figure>
                </div>
            </article>
        {% else %}
            <p>{{ __("general.phrase.no-content-found") }}</p>
        {% endfor %}
        <div class="buttons">
            <a class="button" href="{{ path('contentlisting', {'contenttypeslug': 'entries'}) }}">Read more <span class="is-hidden"> Entries</span></a>
        </div>
    </div>
</section>
{% endif %}


{% include "partials/_sub_recent_records.twig" %}

{% endblock main %}
