{% extends 'partials/_master.twig' %}

{% block main %}


{# Video section if mobile #}
{% set userAgent = app.request.headers.get('User-Agent') %}
{% if 'iPhone' in userAgent or 'Android' in userAgent %}
    <section class="section marhgin-top-50">
        <div class="container">
            <h2 class="is-size-4">A peak at what's to come</h2>
            <h5 class="margin-bottom-30">What we've been working on</h5>
                {% set filename = homepage.videothumb.file|default(homepage.videothumb) %}
                <div class="video">
                    <video controls progressive muted playsinline poster="{{ asset(filename, 'files') }}">
                        <source src="{{homepage.videourl}}" type="video/mp4">
                    </video>
                </div>
            {# <iframe width="100%" height="700" src="https://www.youtube.com/embed/Uy0Am3qAv4s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> #}
        </div>
    </section>
{% endif %}


{# Teaser #}
{% set teaserphoto = homepage.teaser_photo.file|default(homepage.teaser_photo) %}
<section class="section margin-top-70" id="our-mission">
    <div class="">
        <div class="teaser is-hidden-mobile"  style="background-image:url({{ asset(teaserphoto, 'files') }})">&nbsp;</div>
        <div class="teaser-body background-light has-text-centered">
            <h2 class="title is-size-4-mobile">{{homepage.title}}</h2>
            <h4 class="margin-bottom-20 is-size-5-mobile">{{homepage.subtitle}}</h4>
            {{homepage.teaser}}
        </div>
    </div>
</section>


{# Collage of images #}
<section class="section slide-in">
    <div class="tile is-ancestor is-gapless">
        <div class="tile">
            <div class="tile is-parent is-vertical is-2">
                <article class="tile is-child">
                    <figure class="image ">
                        <img class="" src="http://www.thecantilevers.com/thumbs/1000x1000r/site-img/team-table.jpg">
                    </figure>
                </article>
                <article class="tile is-child background-dark has-text-centered is-vertical-center">
                    <h1 class="is-size-4 margin-0 padding-top-10 padding-bottom-10">LIFESTYLE OFFICE<h1>
                </article>
                <article class="tile is-child">
                    <figure class="image">
                        <img class="" src="http://www.thecantilevers.com/thumbs/1000x1000r/site-img/moden-office.jpg">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-4">
                <article class="tile is-child background-tile" style="background-image:url(http://www.thecantilevers.com/thumbs/1000x1000r/site-img/boulder.jpg);background-size: cover; background-position: center; background-repeat:no-repeat;">&nbsp;</article>
            </div>
            <div class="tile is-parent is-vertical is-2">
                <article class="tile is-child">
                    <figure class="image">
                        <img class="" src="http://www.thecantilevers.com/thumbs/1000x1000r/site-img/desk-cal.jpg">
                    </figure>
                </article>
                <article class="tile is-child is-4by5">
                    <figure class="image">
                        <img class="" src="http://www.thecantilevers.com/thumbs/1000x1000r/site-img/desk-wood.jpg">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-danger">
                <article class="tile is-child background-dark is-vertical-center padding-20">
                    <div class="">
                        <p>The Cantilevers are what we call
                        Lifestyle Office Condos. A Lifestyle
                        Office is one that promotes
                        getting up and moving, nourishing
                        both the mind and body, mental
                        creativity, stress reduction, and
                        the opportunity to develop
                        relationships with others.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>


{# Callout #}
{% if homepage.callouts %}
    <section class="section slide-in margin-botton-50" id="our-team">
        <div>
            {# Callout Repeating fields #}
            <h2 class="title has-text-centered margin-top-50">{{homepage.callout_title}}</h2>
            <h4 class="has-text-centered margin-bottom-50">{{homepage.callout_subtitle}}</h4>

            {% for key,callout in homepage.callouts %}
                {%- if loop.index is even %}
                <div class="container margin-bottom-30">
                <div class="corner-number">{# <i class="fas fa-adjust"> #} 0.{{ key }}</i></div>
                    <div class="columns bg-pattern">
                        <div class="column">
                            {%- if callout.repeatimage|default %}
                                {% set calloutphoto = callout.repeatimage.file|default(callout.repeatimage) %}
                                <figure class="image">
                                    <img src="{{ asset(calloutphoto, 'files') }}" />
                                </figure>
                            {% endif %}
                        </div>
                        <div class="column is-vertical-center">
                            <div class="content">
                                {%- if callout.repeattitle %}
                                    <h2 class="is-size-4 is-size-4-mobile">{{ callout.repeattitle }}</h2>
                                {% endif %}
                                {%- if callout.repeatcontent %}
                                    <p>{{ callout.repeatcontent|raw }}</p>
                                {% endif %}
                                {%- if callout.repeatlinks %}
                                    <p><a href="{{callout.repeatlinks}}" class="button margin-top-10">Learn More</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                {% else %}
                    <div class="container margin-bottom-30">
                    <div class="corner-number">{# <i class="fas fa-adjust"> #} 0.{{ key }}</i></div>
                        <div class="columns">
                            <div class="column is-pulled-left is-vertical-center">
                                <div class="content">
                                    {%- if callout.repeattitle %}
                                        <h2 class="is-size-4 is-size-4-mobile">{{ callout.repeattitle }}</h2>
                                    {% endif %}
                                    {%- if callout.repeatcontent %}
                                        {{ callout.repeatcontent|raw }}
                                    {% endif %}
                                    {%- if callout.repeatlinks %}
                                        <p><a href="{{callout.repeatlinks}}" class="button margin-top-10">Learn More</a></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="column">
                                {%- if callout.repeatimage|default %}
                                    {% set calloutphoto = callout.repeatimage.file|default(callout.repeatimage) %}
                                    <figure class="image">
                                        <img src="{{ asset(calloutphoto, 'files') }}" />
                                    </figure>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endif %}

{# Fullscreen Teaser #}
{% if homepage.teaser2_photo or homepage.teaser2_title or homepage.teaser2_subtitle %}
    {% set teaser2photo = homepage.teaser2_photo.file|default(homepage.teaser2_photo) %}
    <section class="slide-in margin-top-70">
        <div class="columns is-gapless background-light">
            <div class="column is-vertical-center ">
                <div class="padding-left-60 padding-right-60 padding-bottom-20  padding-top-20 has-text-centered">
                    <h2 class="title">{{ homepage.teaser2_title}}</h2>
                    <h4>{{ homepage.teaser2_subtitle}}</h4>
                    <p class="margin-top-10">{{ homepage.teaser2_teaser}}</p>
                </div>
            </div>
            <div class="column is-two-thirds-desktop">
                {% if homepage.teaser2_photo %}
                    <figure class="image">
                        <img src="{{ asset(teaser2photo, 'files') }}">
                    </figure>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}

{# Image Gallery #}
{% if homepage.imagelist %}
    <section class="section slide-in section-record margin-top-40" id="gallery">
        <div class="container is-fluid">
            <h2 class="title has-text-centered margin-top-50">{{homepage.gallerytitle}}</h2>
            <h4 class="has-text-centered margin-bottom-50">{{homepage.gallerysubtitle}}</h4>
            <div class="grid imagelist">
                {% for image in homepage.imagelist %}
                    <div class="photo-cell imageholder slide-in slide-up-fade-in">
                        <a class="magnific" href="/thumbs/1000x750r/{{ image.filename }}" title="Image: {{ image.filename }}"><img alt="Image: {{ image.filename }}" height="500" src="/thumbs/500x500c/{{ image.filename }}" width="500"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}


{# Units section #}
{# {% setcontent units = 'units/latest/3' %}
{%- if units %}
    <section class="section section-units hero is-success is-bold">

        <div class="container slide-in">
            <h2 class="title">Cantilevers Units</h2>
            <div class="columns slide-in">
                
                {% for unit in units %}
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-3by2">
                                    {{ popup(unit.values.image, 480, 320) }}
                                </figure>
                            </div>
                            <div class="card-content content">
                                <h3><a href="{{ unit.link() }}">{{ unit.title }}</a></h3>
                                <p>{{ unit.excerpt }}</p>
                                <a class="button" href="{{ unit.link() }}">
                                    {{ __('general.phrase.read-more') }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="column">
                        <p>{{ __("general.phrase.no-content-found") }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %} #}

{# Latest entries #}
{# {% setcontent entries = 'entries/latest/3' %}
{%- if entries %}
    <section class="section section-latest-entries">

        <div class="container ">
            {% for entry in entries %}
                <article role="article" class="media columns slide-in">
                    <div class="media-content column is-7">
                        <div class="content">
                            <h3><a href="{{ entry.link }}">{{ entry.title }}</a></h3>
                            {{ entry.teaser }}

                            {% include 'partials/_record_meta.twig' with {'extended': true, 'record': entry} %}
                        </div>
                    </div>
                    <div class="media-right column">
                        <figure class="image">
                            {{ popup(entry.values.image, 480, 320) }}
                        </figure>
                    </div>
                </article>
            {% else %}
                <p>{{ __("general.phrase.no-content-found") }}</p>
            {% endfor %}
            <div class="buttons">
                <a class="button" href="{{ path('contentlisting', {'contenttypeslug': 'entries'}) }}">Read more <span class="is-hidden"> Entries</span></a>
            </div>
        </div>
    </section>
{% endif %} #}


{# {% include "partials/_sub_recent_records.twig" %} #}

{% endblock main %}
