{% extends 'partials/_content.twig' %}

{% block main %}
    {% set plan = plans[1].values  %}

    {# Hero #}
    <section class="hero hero-image is-black is-bold is-large" {%- if plan.image|default %} {% set filename = plan.image.file|default(plan.image) %} data-background-image="{{ asset(filename, 'files') }}" style="background-image: url({{ asset(filename, 'files') }})" {% endif -%}>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">{{ plan.title }}</h1>
                {% if plan.tagline  %}
                    <h2 class="subtitle">{{ plan.tagline }}</h2>
                {% endif %}
            </div>
        </div>
    </section>

    {# Floor Plans Top #}
    <section class="section margin-top-70">
        <h2 class="title has-text-centered">Floorplans</h2>
        <h4 class="has-text-centered margin-bottom-30">Mountainside &amp; The Flats</h4>
        <div class="container">
            {% if plan.content %}
            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    <p class="margin-bottom-20">The Mountainside condos are the quintessential Colorado office spaces with spectacular views of the Boulder Flatirons, Indian Peaks Wilderness, and a nearly 180 degree of the Front Range. Each office condo captures a specific view of the mountains and the Boulder County open space. Patios and balconies allow you to open up really step out in the picturesque Colorado environment.</p>
                    <p>The Flats offer private entry office condos, while still allowing a direct connection to the overall building amenities. These offices can be combined vertically between first and second floors as in an old style row house, or they can be split between floors. The views are of the landscaped courtyard and to the south toward Pike’s Peak in the distance background.</p>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="columns margin-top-50">
            <div class="column is-one-third padding-30 background-dark">
                <h1 class="is-size-3 has-text-right">First Floor</h1>
            </div>
        </div>
        <div class="container">
            <div class="columns is-vcentered margin-top-30">
                <div class="column is-two-thirds">
                    <div id="floorMapTop" class="floorPlan" data-default="defaultPlan">
                        {% set planCount = 1 %}
                        {% for plan in plan.floorplan %}
                            {% if planCount == 1 %}
                                <a class="pins active" id="pin-{{planCount}}" data-target="plan-{{planCount}}" href="#">{{planCount}}</a>
                            {% else %}
                                <a class="pins" id="pin-{{planCount}}" data-target="plan-{{planCount}}" href="#">{{planCount}}</a>
                            {% endif %}
                            {% set planCount = planCount + 1 %}
                        {% endfor %}
                        {% set masterPlanImage = plan.masterplan.file|default(plan.masterplan) %}
                        
                        {# <img src="http://www.thecantilevers.com/thumbs/1000x1000r/floor-plans/floor-plan-first.png" class="image"/> #}
                        <img src="{{ asset(masterPlanImage, 'files') }}" class="image"/>
                    </div>
                </div>
                <div class="column">
                    {% set planimageDefault = plan.floorplan[0].image.file|default(plan.floorplan[0]) %}
                    <div id="defaultPlan">
                        <h2 class="is-large has-text-centered margin-bottom-20 is-size-3">{{ plan.floorplan[0].name }}</h2>
                        <figure class="image">
                            <img src="{{ asset(planimageDefault, 'files') }}">
                        </figure>
                        <div class="margin-top-20">
                            {{ plan.floorplan[0].description|raw }}
                        </div>
                    </div>
                    {% set count = 1 %}
                    {% for plan in plan.floorplan %}
                        <div id="plan-{{ count }}" class="unit-plans">
                            <div class="columns is-variable is-0">
                                <div class="column">
                                    <h2 class="is-large has-text-centered margin-bottom-20 is-size-3">{{ plan.name }}</h2>
                                    {%- if plan.image|default %}
                                        {% set planimage = plan.image.file|default(plan.image) %}
                                        <figure class="image">
                                            <img src="{{ asset(planimage, 'files') }}">
                                        </figure>
                                    {% endif %}
                                    <div class="margin-top-20">
                                        {{ plan.description|raw }}
                                        {# <a class="button margin-top-40" href="#popup-plan-{{ count }}">View Grouping Options</a> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% set count = count + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
<section class="section"><hr/></section>
{# Floor Plans Bottom #}
<section class="section margin-top-70">
    <div class="columns margin-top-50">
        <div class="column is-one-third padding-30 background-dark">
            <h1 class="is-size-3 has-text-right">Second Floor</h1>
        </div>
    </div>
    <div class="container">
        <div class="columns is-vcentered margin-top-30">
            <div class="column is-two-thirds">
                <div id="floorMapBottom" class="floorPlan" data-default="defaultPlan2">
                    {% set planCount = 16 %}
                    {% for plan in plan.floorplan2 %}
                        {% if planCount == 16 %}
                            <a class="pins active" id="pin-{{planCount}}" data-target="plan-{{planCount}}" href="#">{{planCount}}</a>
                        {% else %}
                            <a class="pins" id="pin-{{planCount}}" data-target="plan-{{planCount}}" href="#">{{planCount}}</a>
                        {% endif %}{% set planCount = planCount + 1 %}
                    {% endfor %}
                    {% set masterPlanImageBottom = plan.masterplanbottom.file|default(plan.masterplanbottom) %}
                    <img src="{{ asset(masterPlanImageBottom, 'files') }}" class="image"/>
                </div>
            </div>
            <div class="column">
                <div id="defaultPlan2">
                    <h2 class="is-large has-text-centered margin-bottom-20 is-size-3">{{ plan.floorplan2[0].name }}</h2>
                    {% set planimage2Default = plan.floorplan2[0].image.file|default(plan.floorplan2[0]) %}
                    <figure class="image">
                        <img src="{{ asset(planimage2Default, 'files') }}">
                    </figure>
                    <div class="margin-top-20">
                        {{ plan.floorplan[0].description|raw }}
                    </div>
                </div>
                {% set count = 16 %}
                {% for plan in plan.floorplan2 %}
                    <div id="plan-{{ count }}" class="unit-plans">
                        <div class="columns is-variable is-0">
                            <div class="column"> 
                                <h2 class="is-large has-text-centered margin-bottom-20 is-size-3">{{ plan.name }}</h2>
                                {%- if plan.image|default %}
                                    {% set planimage2 = plan.image.file|default(plan.image) %}
                                    <figure class="image">
                                    <img src="{{ asset(planimage2, 'files') }}">
                                    </figure>
                               {% endif %} 
                               <div class="margin-top-20">
                                    {{ plan.description|raw }}
                                    {# <a class="button margin-top-40" href="#popup-plan-{{ count }}">View Grouping Options</a> #}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set count = count + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>


    


{# teaser#}
{% if plan.teaserimage or plan.teaser or plan.teasersubtitle %}
    <section class="slide-in margin-top-70"> <div class="columns is-gapless background-light">
        <div class="column is-vertical-center ">
            <div class="padding-left-60 padding-right-60 padding-bottom-20  padding-top-20 has-text-centered">
                <h2 class="title">{{ plan.teaser }}</h2>
                <h4>{{ plan.teasersubtitle }}</h4>
                <p class="margin-top-10">{{ plan.teasercontent|raw }}</p>
            </div>
        </div>
        <div
            class="column is-two-thirds-desktop">
            {% if plan.teaserimage %}
                {% set teaserimage = plan.teaserimage.file|default(plan.teaserimage) %}
                <figure class="image">
                    <img src="{{ asset(teaserimage, 'files') }}">
                </figure>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}



    {# Floor Plan Options #}
    <section class="margin-top-50">
        {% if plan.content %}
            <div class="container section">
                <div class="columns is-centered">
                    <div class="column is-two-thirds">      
                        <h2 class="title has-text-centered">Option Groups</h2>
                        <h4 class="has-text-centered margin-bottom-30">Floor Plan Option Groups</h4>
                        {{ plan.content|raw }}
                    </div>
                </div>
            </div>
        {% endif %}
        {# Tabs #}
        <div class="container">
            <div id="first-floor-tabs" class="tabs is-fullwidth is-medium is-toggle">
                <ul>
                    <li class="tab is-active" data-targets="content-tab-0" data-target="main-options-1"><a >Groupings 1</a></li>
                    <li class="tab" data-targets="content-tab-1" data-target="main-options-2"><a>Grouping 2</a></li>
                    <li class="tab" data-targets="content-tab-2" data-target="main-options-3"><a>Grouping 3</a></li>
                </ul> 
            </div>
        </div>
        {# Tabs Body #}
        {% set groupCount = 1 %}
        {% for key,group in plan.groupings %}
            <div class="content-tab content-tab-{{key}}" id="main-options-{{groupCount}}"{% if groupCount > 1 %} style="display:none"{% endif %}>
                <div class="columns margin-top-50">
                    <div class="column is-one-third padding-30 background-dark">
                        <h1 class="is-size-3 has-text-right">{{groupCount}}-First Floor</h1>
                    </div>
                </div>
                <div class="columns is-gapless">
                    <div class="column is-two-thirds-desktop padding-right-20">
                        {% if group.imagefloor1 %}
                            {% set imageFloor = group.imagefloor1.file|default(group.imagefloor1) %}
                            <figure class="image padding-390">
                                <img src="{{ asset(imageFloor, 'files') }}">
                            </figure>
                        {% endif %}
                    </div>
                    <div class="column is-vertical-center ">
                        <div class="padding-left-60 padding-right-60 padding-bottom-20  padding-top-20">
                            <div id="main-stats-{{groupCount}}">
                            {{group.descriptionfloor1|raw}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container"><hr/></div>
                <div class="columns margin-top-50">
                    <div class="column is-one-third padding-30 background-dark">
                        <h1 class="is-size-3 has-text-right">{{groupCount}}-Second Floor</h1>
                    </div>
                </div>
                <div class="columns is-gapless">
                    <div class="column is-vertical-center ">
                        <div class="padding-left-60 padding-right-60 padding-bottom-20  padding-top-20">
                            {{group.descriptionfloor2|raw}}
                        </div>
                    </div>
                    <div class="column is-two-thirds-desktop padding-right-20">
                        {% if group.imagefloor2 %}
                            {% set imageFloor2 = group.imagefloor2.file|default(group.imagefloor2) %}
                            <figure class="image padding-390">
                                <img src="{{ asset(imageFloor2, 'files') }}">
                            </figure>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% set groupCount = groupCount + 1 %}
        {% endfor %}
    </section>

    {# Floor two #}
    {# <section class="margin-top-70">
        <div class="columns">
            <div class="column is-one-third padding-30 background-dark">
                <h1 class="is-size-3 has-text-right">FLOOR TWO</h1>
            </div>
        </div>
        <div class="container section">
            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    <h2 class="title">Second Floor</h2>
                    <h4 class="margin-bottom-30">Grouping Option</h4>
                    <p class="margin-bottom-30">When a grouping takes an entire end of the building (see Condos 11-15 and 20-24 as examples), then that owner would also acquire the public hallways as part of their square footage as there are no independent Condos that require public access anymore.</p>
                </div>
            </div>
        </div>
        Tabs
        <div class="container">
            <div class="tabs is-fullwidth is-medium">
                <ul>
                    <li class="tab is-active" data-target="upper-options-one"><a >Grouping 1</a></li>
                    <li class="tab" data-target="upper-options-two"><a>Grouping 2</a></li>
                    <li class="tab" data-target="upper-options-three"><a>Grouping 3</a></li>
                </ul>
            </div>
        </div>
        Tab Body
        <div class="content-tab" id="upper-options-one">
        </div>
        <div class="content-tab" id="upper-options-two" style="display:none;">
        </div>
        <div class="content-tab" id="upper-options-three" style="display:none;">
        </div>
        
    </section> #}



    {# Image Grid #}
    <section class="section">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-gapless is-6">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child">
                            <figure class="image is-3by2">
                                <img class="" src="http://www.thecantilevers.com/thumbs/1000x1000r/renderings/exterior/1114-arthur-ave11.5.jpg">
                            </figure>
                        </article>
                        <article class="tile is-child">
                            <figure class="image is-3by2">
                                <img class="" src="http://www.thecantilevers.com/thumbs/1000x1000r/renderings/interior/1114-arthur-ave16.6.jpg">
                            </figure>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child background-tile" style="background-image:url(http://www.thecantilevers.com/thumbs/1000x1000r/renderings/interior/1569801404_1114-arthur-ave13.7.jpg);background-size: cover; background-position: center; background-repeat:no-repeat;">&nbsp;</article>
                    </div>
                </div>
            </div>
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child background-tile" style="background-image:url(http://www.thecantilevers.com/thumbs/1000x1000r/renderings/exterior/1114-arthur-ave5.8.jpg);background-size: cover; background-position: center; background-repeat:no-repeat;">&nbsp;</article>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                        <figure class="image is-3by2">
                            <img class="" src="http://www.thecantilevers.com/thumbs/1000x1000r/renderings/interior/1114-arthur-ave20.4.jpg">
                        </figure>
                    </article>
                    <article class="tile is-child">
                        <figure class="image is-3by2">
                            <img class="" src="http://www.thecantilevers.com/thumbs/1000x1000r/renderings/interior/1114-arthur-ave19.6.jpg">
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </section>


    {# Image Grid 4x4 #}
    {# <section class="section">
        <div class="tile is-ancestor">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child background-tile" style="background-image:url(http://www.thecantilevers.com/thumbs/1000x1000r/renderings/interior/1114-arthur-ave17.7.jpg);background-size: cover; background-position: center; background-repeat:no-repeat;">&nbsp;</article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child background-tile" style="background-image:url(http://www.thecantilevers.com/thumbs/1000x1000r/renderings/exterior/1114-arthur-ave4.5.jpg);background-size: cover; background-position: center; background-repeat:no-repeat;">&nbsp;</article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child background-tile" style="background-image:url(http://www.thecantilevers.com/thumbs/1000x1000r/renderings/interior/1114-arthur-ave14.6.jpg);background-size: cover; background-position: center; background-repeat:no-repeat;">&nbsp;</article>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                        <figure class="image is-3by2">
                            <img class="" src="http://www.thecantilevers.com/thumbs/1000x1000r/renderings/exterior/1114-arthur-ave7.8.jpg">
                        </figure>
                    </article>
                    <article class="tile is-child">
                        <figure class="image is-3by2">
                            <img class="" src="http://www.thecantilevers.com/thumbs/1000x1000r/renderings/interior/1114-arthur-ave19.6.jpg">
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </section> #}



{% endblock main %}
